.weathermain {
  background-image: url("../images/background.gif");
  background-size: contain;
  width: 100%;
}
.searchinput {
  margin: 10px auto;
  width: 60%;
}

form {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
}

.container div {
  margin-bottom: 8px;
}
